NET "A" LOC = "P11" | IOSTANDARD = LVCMOS33; # Switch 1
NET "B" LOC = "P12" | IOSTANDARD = LVCMOS33; # Switch 2
NET "Cin" LOC = "P13" | IOSTANDARD = LVCMOS33; # Switch 3
NET "Sum" LOC = "P21" | IOSTANDARD = LVCMOS33; # LED 1
NET "Cout" LOC = "P22" | IOSTANDARD = LVCMOS33; # LED 2
