NET "A" LOC = "L13" | IOSTANDARD = LVCMOS33; # Slide Switch 0
NET "B" LOC = "L14" | IOSTANDARD = LVCMOS33; # Slide Switch 1
NET "Y_AND" LOC = "C11" | IOSTANDARD = LVCMOS33; # LED 0 (AND)
NET "Y_OR" LOC = "D11" | IOSTANDARD = LVCMOS33; # LED 1 (OR)
NET "Y_XOR" LOC = "E9" | IOSTANDARD = LVCMOS33; # LED 2 (XOR)
