NET "D0" LOC = "P11" | IOSTANDARD = LVCMOS33; # Switch 1
NET "D1" LOC = "P12" | IOSTANDARD = LVCMOS33; # Switch 2
NET "Sel" LOC = "P13" | IOSTANDARD = LVCMOS33; # Switch 3
NET "Y" LOC = "P21" | IOSTANDARD = LVCMOS33; # LED 1
